<!-- project/templates/project/playlist.html -->
{% extends 'project/base.html' %}

{% block content %}
<a href="{% url 'playlist_create' %}">Create New Playlist</a>

<h1>My Playlists</h1>
    <ul>
        {% for playlist in playlists %}
            <li>
                <strong>Title:</strong> <a href="{% url 'playlist_detail' playlist.pk %}">{{ playlist.title }}</a><br>
                <strong>Number of Songs:</strong> {{ playlist.numSongs }}
                <a href="{% url 'playlist_delete' playlist.pk %}">Delete</a>
                <a href="{% url 'playlist_update' playlist.pk %}">Update</a>
            </li>
        {% empty %}
            <li>No playlists available.</li>
        {% endfor %}
    </ul>
{% endblock %}