{% extends 'restaurant/base.html' %}

{% block content %}
    <h2 class="center">508-512 Park Dr, Boston, MA 02115</h2>
    <table class="center">
        <tr>
            <th class="center">Sunday</th>
            <td>12:00 PM</td>
            <td>8:30 PM</td>
        </tr>
        <tr>
            <th>Monday</th>
            <td>Closed</td>
        </tr>
        <tr>
            <th>Tuesday</th>
            <td>12:00 PM</td>
            <td>8:30 PM</td>
        </tr>
        <tr>
            <th>Wednesday</th>
            <td>12:00 PM</td>
            <td>8:30 PM</td>
        </tr>
        <tr>
            <th>Thursday</th>
            <td>12:00 PM</td>
            <td>8:30 PM</td>
        </tr>
        <tr>
            <th>Friday</th>
            <td>12:00 PM</td>
            <td>8:30 PM</td>
        </tr>
        <tr>
            <th>Saturday</th>
            <td>12:00 PM</td>
            <td>8:30 PM</td>
        </tr>
    </table>
    <img src={{image}} alt="Image of Futago Udon" width="400px" class="center">
    <p class="center">Welcome to Futago Udon, one of Boston's best Udon restaurants!</p>
{% endblock %}