{% extends 'mini_fb/base.html' %}


{% block content %}
<main class="grid-container">
    <div class="featured">
        <h2>{{ show_profile.first_name }} {{ show_profile.last_name }}</h2>
        <h3>{{ show_profile.city }}</h3>
        <h3>{{ show_profile.email }}</h3>
        <h3>{{ show_profile.address }}</h3>
        {% if show_profile.profile_image_url %}
        <img src="{{ show_profile.profile_image_url }}" alt="Profile Picture" width="500px">
        {% endif %}
        <br>
    </div>

    <div>
        <a href="{% url 'create_status' show_profile.pk %}">Create Status</a>
        <a href="{% url 'update_profile' show_profile.pk %}">Update Profile</a>
        <h2>Status Messages</h2>
        {% for m in show_profile.get_status_messages %}
    <profile>
        <div>
        <p>{{m.message}}</p>
        <strong>by {{m.profile}} at {{m.timestamp}}</strong>
        {% for img in m.get_images %}
            <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' width="200px">
            
        {% endfor %}
        <a href="{% url 'delete_message' m.pk %}">delete</a>
        <a href="{% url 'update_message' m.pk %}">update</a>
        </div>
    </profile>
        {% endfor %}
    <friend>
        <h2>{{ show_profile.first_name }}'s friends</h2>
        {% for p in show_profile.get_friends %}
        <a href="{% url 'show_profile' p.pk %}"><img src="{{p.profile_image_url}}" alt="{{p.profile_image_url}}" width="200px"></a>
        <a href="{% url 'show_profile' p.pk %}"><p>{{p.first_name}} {{p.last_name}}</p></a>

        {% endfor %}
    </friend>
    </div>
</main>
{% endblock %}
