{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Update Profile Form</h2>

<form action="" method = "POST" enctype="multipart/form-data">
{% csrf_token %}    
    <table>
        {% for field in form %}
        <tr>
            <th>{{field.label}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" name="update_profile" value="Update Profile">
            </td>
        </tr>
    </table>
    
</form>

{% endblock %}
