{% extends 'quotes/base.html' %}

{% block content %}
        <h2>Welcome</h2>
       <p>Welcome to the MLK Quote application</p>
       <p>This application displays quotes by and images of Martin Luther King Jr. </p>

       <p>
        Martin Luther King Jr. (1929-1968) was a civil rights leader who fought racial segregation 
        through nonviolence. Known for his "I Have a Dream" speech, he helped pass the Civil Rights Act of 
        1964 and won the Nobel Peace Prize. King was assassinated in 1968.</p>

{% endblock %}