<!-- quotes/templates/base.html 
 This is base page from which all other pages will inherit.
 Put common code here, specific code in separate pages
 -->
 {% load static %}
<html>
    <head>
        <title>MLK Quotes</title>
        <!-- <link rel="stylesheet" href="/static/styles.css"> -->
        <link rel="stylesheet" href="/static/quotes/styles.css">
    </head>
    <body>
        <h1>MLK Quotes</h1>

    <nav>
        <ul>
            <a href="{% url 'quote' %}">Quote of the Day</a>
            <a href="{% url 'show_all' %}">Show All</a>
            <a href="{% url 'about' %}">About</a>
        </ul>
    </nav>

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}

    
    .
    </body>
</html>